* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
}

:root {
    --azul: aqua;
}

.eleanor {
    text-align: right;
}

.separation {
    margin-bottom: 10px;
}

#re {
    vertical-align: bottom;
    font-size: 30px;
}

body {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

main {
    
    width: 80%;
}

li {
    margin-left: 40px;
}

main p {
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    hyphens: auto;
    word-spacing: 5px;
    word-wrap: break-word;
    text-indent: 2em;
}

address {
    word-spacing: 5px;
}

a {
    font-weight: bold;
    color: var(--azul);
}

a:visited {
    color: var(--azul);
}

dt {
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
}

dd q {
    margin-left: 30px;
}

.quotes {
    quotes: "^" "^";
}

.despedida {
    margin-top: 50px;
}
 /* Con esto pongo mi firma a la derecha de arriba a abajo y hago que se anime si paso por encima*/
#firma {
    display: flex;
    position: absolute;
    right: 0;
    writing-mode: vertical-rl;
    /* transition: right 5s;
    transition-timing-function: ease; */
}
#firma:hover {
    right: 300px;
    rotate: -100grad;
    font-size: 60px;
    background-color: grey;
    color: black;
}

/*#firma:hover {
    animation-name: firma;
    animation-duration: 10s;
}

@keyframes firma {
    0%{right: 10px; rotate: -10grad;font-size: 20px;}
    20%{right: 40px; rotate: -20grad;font-size: 40px;}
    30%{right: 70px; rotate: -30grad;font-size: 60px;}
    40%{right: 100px; rotate: -40grad;font-size: 80px;}
    50%{right: 130px; rotate: -50grad;font-size: 100px;}
    60%{right: 200px; rotate: -60grad;font-size: 80px;}
    70%{right: 250px; rotate: -70grad;font-size: 60px;}
    80%{right: 300px; rotate: -80grad;font-size: 40px;}
    90%{right: 300px; rotate: -90grad;font-size: 20px;}
    100%{right: 300px; rotate: -100grad;font-size: 20px;}
}*/